QFINGER		ICON DISCARDABLE "..\\QFINGER.ICO"
QFTP1 		ICON DISCARDABLE "..\\QFTP1.ICO"
QFTP2 		ICON DISCARDABLE "..\\QFTP2.ICO"
QLOOKUP	 	ICON DISCARDABLE "..\\QLOOKUP.ICO"
QPING 		ICON DISCARDABLE "..\\QPING.ICO"
QPOP3 		ICON DISCARDABLE "..\\QPOP3.ICO"
QSMTP 		ICON DISCARDABLE "..\\QSMTP.ICO"
QTIME 		ICON DISCARDABLE "..\\QTIME.ICO"
QUICK 		ICON DISCARDABLE "..\\QUICK.ICO"
SERVER 		ICON DISCARDABLE "..\\SERVER.ICO"
SMFTP 		ICON DISCARDABLE "..\\SMFTP.ICO"
SMWEB 		ICON DISCARDABLE "..\\SMWEB.ICO"
SOCKET 		ICON DISCARDABLE "..\\SOCKET.ICO"
SOCKMAN 	ICON DISCARDABLE "..\\SOCKMAN.ICO"
SOCKMAN1 	ICON DISCARDABLE "..\\SOCKMAN1.ICO"
SOCKMAN2 	ICON DISCARDABLE "..\\SOCKMAN2.ICO"
SOCKMAN3 	ICON DISCARDABLE "..\\SOCKMAN3.ICO"
SOCKMAN4 	ICON DISCARDABLE "..\\SOCKMAN4.ICO"
SOCKMAN5 	ICON DISCARDABLE "..\\SOCKMAN5.ICO"
WEB 			ICON DISCARDABLE "..\\WEB.ICO"
 
